.list{
    .alt_li{
        background-color: var(--main-bg-color);
        border-bottom: 1px solid white;
    }
}
.no_item{
    color: var(--alt-text-color);
    margin:30px 0px;
    text-align: center;
}