.footer{
    background-color: var(--site-brand-color);
    color:var(--site-title-color);
    display: flex;
    justify-content: center;
    align-self: stretch;
}
.footer p{
    margin: 5px 0px;
    font-size: 0.8em;
}