#links{
    margin-top: 20px;
    display:flex;
}
#links a{
    margin-left: 5px;
    font-size: 0.9em;
    color:var(--link-color);
    text-decoration: none;
}
.selected_link{
    font-weight: bold;
    color:var(--button-color);
}