.add_form{
}
.add_form button{
    background-color: #40A5B9;
    color:white;
    border-radius: 5px;
    border:none;
    padding: 3px 10px;
    opacity:0.8;
}
.add_form button:hover{
    cursor: pointer;
    opacity:1;
}
.add_form button:focus{
    outline: none;
}
.add_form select:focus{
    outline: none;
}
.add_form input:focus{
    outline: none;
}
.add_form input{
    padding: 0px 2px;
    height: 2em;
    border:none;
    border-bottom:1px solid black;
    background: none;
}
.add_form select{
    margin:0px 15px;
    height: 2em;
    max-width: 110px;
    border:none;
    border-bottom:1px solid black;
    background: none;
}