.header{
    background-color: var(--site-brand-color);
    align-self: stretch;
}
.header_content{
    display: flex;
    justify-content: center;
}
.header img{
    height: 25px;
}
.header nav{
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app_title h1{
    font-family: 'Pacifico', cursive;
    color: var(--site-title-color);
    font-weight:normal;
    margin: 0px;
}
.login a{
    text-decoration: none;
}
img{
    filter: hue-rotate();
}