.list{
    margin-top:20px;

    ul{
        list-style-type: none;
        padding:0px;
        margin: 0px 0px 40px 0px;
    }

    li{
        display:grid;
        border-bottom: 1px solid var(--main-bg-color);
        padding:8px 5px;
        justify-items: start;
        align-items: center;
    }

    &.alt_li{
        background-color: var(--main-bg-color);
        border-bottom: 1px solid white;
    }

    &.column{
        display:flex;
        align-items: center;
        font-size: 0.9em;
    }
}
.list_button{
    font-size:0.8em;
    color:var(--link-color);

    &:hover{
        cursor: pointer;
        color:var(--link-hover-color);
    }
}
.list_header{
    display:flex;
    justify-content: space-between;
    margin: 10px 0px 0px 0px;
    padding-bottom:5px;
    color:var(--main-title-color);
    border-bottom: 1px solid var(--site-brand-color);
}
.list_title{
    font-size:0.9em;
    font-weight: 600;
}
.no_item{
    color: var(--alt-text-color);
    margin:30px 0px;
    text-align: center;
}
.icon, .click_icon{
    color:var(--button-color);

    &:hover{
        cursor: pointer;
        color:var(--button-hover-color);
    }
}
.btn_disabled{
    display: flex;
    justify-self: center;
    align-items: center;
}
.delete_btn_disabled{
    color:var(--main-bg-color);
}
