#sidebar{
    flex: 1 0 40vw;
    border-right: 1px solid black;
    text-align: right;
}
#sidebar ul{
    list-style-type: none;
    margin: 10px 15px 0px 0px;
}
#sidebar li{
    margin: 5px 0px;
    font-size: 1.2em;
}
.menu_item:hover{
    cursor: pointer;
    color:#40A5B9;
}