#content_main{
    display: flex;
    flex-direction: column;
}
#content{
    flex-grow:1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 700px;
}
#content_header{
    display: flex;
    justify-content: space-between;
}