#task_list{
    flex: 2 1 60vw;
}
#task_list ul{
    list-style-type: none;
}
#task_list h2{
    margin: 10px 0px 10px 10px;
    font-size:1em;
    font-weight: 100;
}
.checkbox{
    margin-right:5px;
}
.checkbox:hover{
    cursor: pointer;
}
#task_list li{
    display:flex;
}
.noTasks{
    font-size: 0.9em;
    margin-left: 25px;
    color: darkgray;
}
.crossed{
    text-decoration: line-through;
}