#task_list{
    margin-top:20px;
}
#task_list ul{
    list-style-type: none;
    padding:0px;
    margin: 0px 0px 40px 0px;
}

.checkbox{
    margin-right:5px;
}
.checkbox:hover, .delete_icon:hover{
    cursor: pointer;
    color:black;
}
#task_list li{
    display:grid;
    grid-template-columns: 30px 1fr 150px 30px 30px;
    border-bottom: 1px solid darkgray;
    padding:8px 5px;
    justify-items: start;
}
.crossed{
    text-decoration: line-through;
    color: darkgray;
}
.delete_icon{
    color:darkgray;
    justify-self: center;
}
.list_header{
    display:flex;
    justify-content: space-between;
    margin: 10px 0px 0px 0px;
    padding-bottom:5px;
    color:#40A5B9;
    border-bottom: 1px solid black;
}
.list_title{
    font-size:0.9em;
    font-weight: 600;
}
.list_button{
    font-size:0.8em;
}
.list_button:hover{
    cursor: pointer;
}
.done{
    color: darkgray;
    font-size: 0.9em;
    margin-left: 5px;
}