#select_category{
    display:none;
}
#category_list{
    list-style-type: none;
    height: 25px;
    width: 180px;
    margin:8px 0px 0px 20px;
    padding:0px;
    font-size: 0.9em;
    border: 0.5px darkgrey solid;

    li{
        width: 160px;
        height: 14px;
        display:flex;
        padding: 5px 10px;
        align-items: center;
        background-color: white;
        border-left:0.5px solid darkgray;
        border-right:0.5px solid darkgray;

        &.disabled{
            height: 15px;
            background-color: rgba(0, 0, 0, 0);
        }
        &:nth-last-child(1){
            border-bottom: 0.5px darkgrey solid;
        }
        &:not(.display){ 
            display: none;
        }
        &.selected:not(.neutral){
            background-color: var(--main-bg-color);
        }
        &.display:not(.disabled){
            cursor: pointer;
        }
        &.display:not(.disabled):not(.neutral):hover{
            background-color: var(--link-color);
            color:white;
        }
    }

    &.square{
        font-size: 1em;
        margin-right: 5px;
    }
}
#input_task_description{
    resize: none;
    height: 100px;
    width: 347px;
    margin: 5px 20px;
    padding: 5px;
    font-size: 0.9em;
}