.modal {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;

    &__overlay {
        position: fixed;
        top: -100px;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.6);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.25;
        color: var(--site-title-color);
        box-sizing: border-box;
    }

    &__content {
        margin-top: 1rem;
        min-width: 300px;
        line-height: 1.5;
        color: rgba(0,0,0,.8);
    }

    &__btn{
        background-color: var(--button-color);
        color:white;
        border-radius: 5px;
        border:none;
        padding:8px 10px;
        min-width:40%;
        margin:20px;
    
        &:hover {
            cursor: pointer;;
            background-color: var(--button-hover-color);
        }
    }

    &__close {
        background: transparent;
        color:white;
        border: 0;
        font-size: 1.2em;
        cursor: pointer;

        &:before {
            content: "\2715"; 
        }
    }

    &__container {
        background-color: #fff;
        max-width: 500px;
        max-height: 100vh;
        border-radius: 4px;
        overflow-y: auto;
        box-sizing: border-box;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        background-color: var(--site-brand-color);
        border-bottom:1px solid var(--main-bg-color);

        &:before {
            content: "\2715"; 
        }
    }

    &__footer {
        display: flex;
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        background-color: var(--main-bg-color);
        border-top:1px solid darkgray;
    }
}

/* Animations */
@keyframes mmfadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes mmslideIn {
from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}