.page-title{
    margin-bottom:50px;

    &__title{
        color:var(--main-title-color);
        margin: 20px 0px 0px 0px;
    }

    &__subtitle{
        margin: 0px;
        font-size: 0.8em;
        color:var(--alt-text-color);
    }
}