.fields{
    display:flex;
    flex-direction: column;

    label{
        font-size:0.8em;
        margin:10px 0px 0px 20px;
    }

    input{
        margin:3px 20px 0px 20px;
        padding: 5px;
        border: 0.5px solid darkgrey;
        font-size: 0.9em;
    }

    select{
        margin:3px 20px 0px 20px;
        appearance: none;
        background:white;
        border: 0.5px solid darkgrey;
    }
    
    textarea{
        border: 0.5px solid darkgrey;
    }
}
.delete_alert{
    display:flex;
    flex-direction: column;
    margin:25px 50px;
    font-size: 0.9em;
    align-self: center;
    text-align: center;
}

.modal-indication{
    font-size: 0.8em;
    font-style: italic;
    padding: 5px 0;
}
